<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Meet Your Match</title>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/css/materialize.min.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- below is my personal stylesheet -->
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>


<!-- renders the header -->
<header>
<div class="container">
  <h1 class="#006064 cyan-text text-darken-4">Meet Your Match</h1>
  {{#logged_in}}
  <div class="row">
    <h5 class="col s8 #006064 cyan-text text-darken-4"><span class="flow-text">Where you can meet other tennis enthusiasts</span></h5>
    <h5 class="col s4 right-align #006064 cyan-text text-darken-4"><span class="flow-text"><a href="/logout">Log Out</a></span></h5>
  </div>
  {{/logged_in}}

  {{^logged_in}}
  <div class="row">
    <h5 class="col s8 #006064 cyan-text text-darken-4"><span class="flow-text">Where you can meet other tennis enthusiasts</span></h5>
    <h5 class="col s4 right-align #006064 cyan-text text-darken-4"><span class="flow-text"><a href="/login">Log In/Sign Up</a></span></h5>
  </div>
  {{/logged_in}}

  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/courts/Bronx">Bronx</a></li>
    <li><a href="/courts/Brooklyn">Brooklyn</a></li>
    <li><a href="/courts/Manhattan">Manhattan</a></li>
    <li><a href="/courts/Queens">Queens</a></li>
    <li><a href="/courts/StatenIsland">Staten Island</a></li>
    <li><a href="/courts/onlinebooking">Online-Bookable Courts</a></li>
  </ul>

  <!-- renders nav bar -->
  <nav class="#00838f cyan darken-3">
    <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      {{#logged_in}}
        <a class="right" href="/account">User Page &nbsp</a>
      {{/logged_in}}
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/partners">Find a Tennis Partner</a></li>
        <li><a class="dropdown-button" href="/courts" data-activates="dropdown1">Find a Tennis Court<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/permits">Current Permit Costs</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/partners">Find a Tennis Partner</a></li>
        <li><a href="/courts">Find a Tennis Court</a></li>
        <li><a href="/permits">Current Permit Costs</a></li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
</div>
</header>


<main>
<!-- {{^logged_in}} -->
<div class="container">
  <div class="row">
    <div class="col s12 center-align #f50057 pink-text text-accent-3">Sorry! Your email or password was incorrect. Please try to <a href="/login">login</a> again. </div>
  </div>
  <div class="row">
    <div class="col s12 center-align #f50057 pink-text text-accent-3">If you're not already a member, please <a href="/signup">signup</a>! </div>
  </div>
  <div class="row center-align">
    <img class="responsive-img" src="http://images.supersport.com/2013/7/Juan-Martin-del-Potro-sad-130705G300.jpg">
  </div>



</div>
<!-- {{/logged_in}} -->

<!-- {{#logged_in}} -->

<!-- {{/logged_in}} -->


</main>



<!-- footer starts here -->
<div class="container">
<footer class="page-footer #00838f cyan darken-3">
<!--   <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">External Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>

        </ul>
      </div>
    </div>
  </div> -->
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    <a class="grey-text text-lighten-4 right" href="https://www.usta.com/en/home.html">USTA</a>
    </div>
  </div>
</footer>
</div>

</body>
</html>

<script type="text/javascript" src="/js/jquery.js"></script>
<!-- "https://code.jquery.com/jquery-2.1.1.min.js" -->
<script type="text/javascript" src="/css/js/materialize.min.js"></script>

<script type="text/javascript" src="/js/script.js"></script>
